version: '3'

services:
  jenkins:
    image: vterdunov/jenkins-in-docker
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - jenkins-data:/var/jenkins_home
    restart: always
    environment:
      - VIRTUAL_HOST=jenkins.local
      - VIRTUAL_PORT=8080

  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - '80:80'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

volumes:
  jenkins-data: {}
