version: '3'

services:
  jenkins:
    build: .
    image: jenkins-in-docker
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - jenkins-data:/var/jenkins_home
    restart: unless-stopped

volumes:
  jenkins-data: {}
